.like_btn {
    padding: 0.4rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #afb0b1;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color:#6161bbde;
}

.active{
    background-color: #f1ebeb;
}