.main-container{
    height: 100vh;
    max-width: 75%;
    margin:5% auto;
    padding: 1rem;
}

.search_group{
    justify-content: space-between;
}

.search_group #search{
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border-color: #dadce0;
    background-color: transparent;
}

/* Filter Area */

.search_filter_area{
    padding: 0.3rem;
    align-items: center;
}

.search_filter_area div{
    padding: 0.5rem 1rem;
} 
.search_filter_area div>label{
    line-height: 1.5rem;
    color:#5d5e5f;
    font-weight: 500;
}
.search_filter_area div select,input{
    padding: 0.5rem;
    border:none;
    border-radius: 0.2rem;
    background: #ccc;
    font-weight: 600;
}

.search_filter_area .search{
    background-color: #4b4b7c;
    color:#fff;
}

/* Each Property */

.property_list{
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    gap:2rem;
}

.property{
    flex-direction: column;
}

.property img{
    width: 250px;
    height: 150px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.property_price,
.property_name,
.amenities{
    padding: 0.5rem 1rem;
    background-color: #fff;
}
.property_price_tag strong{
    color:#6161bb;
}
.property_name p{
    color: #5d5e5f;
    font-size: 0.8rem;
}

.amenities{
    align-items: baseline;
    justify-content: center;
    gap:1rem;
}
.amenities p{
    font-size: 0.7rem;
    color:#5d5e5f

}