.property_list {
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    background: #fff;
}

.property {
    flex-direction: column;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 0 0.2rem #999898;
}

.property img {
    width: 260px;
    height: 150px;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.property_price,
.property_name,
.amenities {
    padding: 0.5rem 1rem;
    background-color: #fff;
}

.property_name {
    align-items: center;
    justify-content: space-between;
}

.property_price_tag strong {
    color: #6161bb;
}

.property_name p {
    color: #5d5e5f;
    font-size: 0.8rem;
}

.amenities {
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
}

.amenities p {
    font-size: 0.7rem;
    color: #5d5e5f;
}