.navbar_container {
    padding: 1.5rem 0.5rem;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #dadce0;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.navbar_container a {
    text-decoration: none;
}

.navbar_container .logo .fa-hotel {
    color: #1a73e8;
}

.nav_links {
    align-items: center;
    gap: 1.5rem;
}

.nav_links a {
    color: #333;
    font-weight: 500;
}

.nav_links .nav_active {
    background-color: #c5c5cf;
    color: #1a73e8;
    ;
}

.btn_groups {
    align-items: center;
    gap: 1rem;
}

.btn_groups .login {
    box-shadow: 0 0 0.2rem #333;
    color: #5e5ebb;
    font-weight: 600;
}

.btn_groups .login:hover {
    background-color: #1a73e8;
    color: #fff;
}

.btn_groups .signup {
    background-color: #1a73e8;
    color: #fff;
    font-weight: 600;
}

.btn_groups .signup:hover {
    background-color: #fff;
    color: #5e5ebb;
    box-shadow: 0 0 0.2rem #333;
}